.testimoni {
  .small-size {
    width: 24px;
    height: auto;
  }

  .glider {
    .card {
      display: grid;
      grid-template-rows: 1fr auto;
      background: #f0701a;
      color: white;
      margin: 1.5em;
      padding: .7em;
      border-radius: 10px;
    }

    blockquote {
      padding: .5em;
      font-size: 1.9vw;
      font-style: italic;
      text-align: center;
    }

    figcaption {
      text-align: center;
      font-size: 2.1vw;
      text-transform: uppercase;
    }
  }
}

@media screen and (min-width: 1000px) {
  .testimoni {
    .glider {
      blockquote {
        font-size: 1em;
      }

      figcaption {
        font-size: 1em;
      }
    }
  }
}

@media screen and (min-width: 1300px) {
  .testimoni {
    .glider-contain {
      width: 85%;
    }
  }
}